In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer, LabelEncoder
import pandas as pd

#### 1. ìˆœì„œê°€ ì—†ëŠ” ë²”ì£¼í˜• íŠ¹ì„± ì¸ì½”ë”©
* ë¼ì´ë¸ŒëŸ¬ë¦¬ : sklearn.preprocessing
    * LabelBinarizer : í•˜ë‚˜ì˜ í´ë˜ìŠ¤ ê°€ì§ˆ ê²½ìš°
    * MultiLabelBinarizer : ì—¬ëŸ¬ê°œ í´ë˜ìŠ¤ ê°€ì§ˆ ê²½ìš°
    
  
* ë¼ì´ë¸ŒëŸ¬ë¦¬ : pandas -> ì› í•« ì¸ì½”ë”© ê°€ëŠ¥
    * pd.get_dummies(feature[:,0])  : í•˜ë‚˜ì˜ í´ë˜ìŠ¤ ê°€ì§ˆ ê²½ìš° # í•˜ë‚˜ì˜ column í™œìš©  

  
* Q1. fit_transform()ê³¼ transform()ì˜ ì°¨ì´
    * fit(í‘œì¤€í™”) -> transform(ì •ê·œí™”) ë¥¼ ìˆœì°¨ì ìœ¼ë¡œ ì‹œí–‰í•  ë•Œ ì‚¬ìš©
        * í‘œì¤€í™” ( fit() ) :  ì •ê·œë¶„í¬ë¥¼ ë§Œë“¤ê²Œ í•˜ê¸° ìœ„í•´ì„œ ğ‘¥ ê°’ì—ì„œ í‰ê· ì„ ë¹¼ê³  ê·¸ ê°’ì„ ë‹¤ì‹œ í‘œì¤€í¸ì°¨ë¡œ ë‚˜ëˆ„ì–´ì£¼ëŠ” ì‘ì—…ì„ í•˜ëŠ”ë° ì´ ì‘ì—…ì„ í•˜ê¸° ìœ„í•´ í‰ê·  ğœ‡ê³¼  í‘œì¤€í¸ì°¨ ğœë¥¼ ê³„ì‚°í•˜ëŠ” ì‘ì—…ì´ fit() 
        * ì •ê·œí™” ( transform() ) : transform()ì€ ì •ê·œí™” ì‘ì—…ì„ í•´ì£¼ëŠ” ê²ƒì…ë‹ˆë‹¤. (ğ‘¥-ğœ‡)/ğœ ==> ìƒˆë¡œìš´ ğ‘¥â€² ìƒê¸°ëŠ” ê²ƒì´ì£ 
    * fit_transform() í›„ transform() ì‚¬ìš©í•¨ : ì™œëƒ? ì•ì„œ ë§Œë“¤ì–´ë‘” í‘œì¤€í™” ê²°ê³¼ê°’(í‰ê· , í‘œì¤€í¸ì°¨)ë¥¼ ê·¸ëŒ€ë¡œ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ transform()ì´ë¯€ë¡œ
    * ì—¬ê¸°ì„œëŠ” í‘œì¤€í™”ë¥¼ ìˆ˜í–‰í•˜ê³  ì •ê·œí™”ë¥¼ ì§„í–‰í•œ ê°’ì´ ì´ë¯¸ ì¡´ì¬í–ˆê¸° ë•Œë¬¸ì— ë¬´ë¦¬ì—†ì´ ì‚¬ìš©ë˜ì—ˆìŒ.  

  
* ìœ ì˜ì‚¬í•­ : ì„±ë³„ì„ one-hot encodingí•  ê²½ìš° perfectly negative í•œ ì»¬ëŸ¼ 2ê°œê°€ í˜•ì„±ëœë‹¤. ì„ í˜• ì˜ì¡´ì„± ë°œìƒ. -> ì»¬ëŸ¼ í•œê°œ íƒˆë½ì‹œì¼œì•¼ í•¨
* LabelEncoder : ì •ìˆ˜ ë ˆì´ë¸”ë¡œ ë³€í™˜í•  ë•Œ # array([2, 0, 2, 1, 2]) : ìˆœì„œê°’ì´ ìƒê²¨ë²„ë¦¼
* spare = False : í¬ì†Œí•˜ì§€ ì•Šì€ íŠ¹ì„± ë°°ì—´ì„ ì œì‘í•´ì¤Œ

In [3]:
feature = np.array([['Texas'],
                    ['California'],
                    ['Texas'],
                    ['Delaware'],
                    ['Texas']])

one_hot = LabelBinarizer()
one_hot.fit_transform(feature)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [18]:
# ì •ìˆ˜ ë ˆì´ë¸”ë¡œ ë³€í™˜
int_hot = LabelEncoder()
int_hot.fit_transform(feature)

/Users/yeonjin/opt/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 2, 1, 2])

In [4]:
one_hot.transform(feature)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [5]:
# ë²”ì£¼í˜• ìë£Œ class í™•ì¸
one_hot.classes_

array(['California', 'Delaware', 'Texas'], dtype='<U10')

In [8]:
# ì›í•«ì¸ì½”ë”© ë˜ëŒë¦¬ê¸° 
one_hot.inverse_transform(one_hot.transform(feature))

array(['Texas', 'California', 'Texas', 'Delaware', 'Texas'], dtype='<U10')

In [10]:
# pandasë¡œ 
pd.get_dummies(feature[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1

In [13]:
# ë‹¤ì¤‘ í´ë˜ìŠ¤
multiclass_feature = [('Texas', 'Florida'),
                ('California', 'Alabama'),
                ('Texas', 'Florida'),
                ('Delware', 'Florida'),
                ('Texas', 'Alabama')]

In [14]:
one_hot_multi = MultiLabelBinarizer()
one_hot_multi.fit_transform(multiclass_feature)

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1]])

#### 2. ìˆœì„œê°€ ìˆëŠ” ë²”ì£¼í˜• íŠ¹ì„± ì¸ì½”ë”©í•˜ê¸°
* ë¼ì´ë¸ŒëŸ¬ë¦¬ : pandas
    * replace

In [21]:
df = pd.DataFrame({'Score' : ['Low', 'Low', 'Medium', 'Medium', 'High']})
scale_mapper = {'Low':1,
               'Medium':2,
               'High':3}
df['Score'].replace(scale_mapper)

0    1
1    1
2    2
3    2
4    3
Name: Score, dtype: int64

In [ ]:
scale_mapper = {'Low':1, 
               'Medium':2,
               'Barely More Than Medium':3,
               'High'}